---
layout: markdown_page
title: "Product Kickoff Review"
---

- TOC
{:toc}

## Overview

The next GitLab release we are kicking off is 
<%= direction.keys[2] %> 
and this page contains the list of issues that are currently planned for that release. We present this during the monthly kickoff call, which is livestreamed publicly to the GitLab YouTube channel. 

In terms of meeting logistics, only presenters will be promoted to panelists so please use the “Raise my hand” feature if you are a presenter.
Please also use YouTube comments instead of Google Hangout or Zoom comments. During the meeting, Product Section leaders will present highlights from their respective areas. We will not cover each item in the list below, so feel free to click on any you're interested in and participate directly in the issue.

This page updates on the 22nd of each month to show the next release we will be kicking off. We also have [a YouTube playlist of the below referenced recorded Kickoffs](https://www.youtube.com/playlist?list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl).

We'd appreciate it if you would be willing to provide us [feedback](
https://docs.google.com/forms/d/e/1FAIpQLSdNyIB_Rk3rn2-PI-5dWhb7rUfBLmGziTlbmeKYP-mFQEESQQ/viewform?usp=sf_link) on our Kickoff process.

## Dev Section

### Manage

**Video**: [Manage Kickoff Video](https://www.youtube.com/watch?v=FXgtk2Hz_Yk&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=10&t=0s)

**Issues**:
<%= direction[direction.keys[2]]["manage"] %>

### Plan

**Video**: [Plan Kickoff Video](https://www.youtube.com/watch?v=Q8dixthfEK8&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=14&t=0s) 

**Issues**:
<%= direction[direction.keys[2]]["plan"] %>

### Create

**Videos**:
* [Create:Knowledge Kickoff Video](https://www.youtube.com/watch?v=CdE6px37d6M&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=17&t=0s)
* [Create:Editor Kickoff Video](https://www.youtube.com/watch?v=KOSBxbvAtFo&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=7&t=0s) 
* [Create:Source Code and Gitaly Kickoff Video](https://www.youtube.com/watch?v=VdbHBeAdeLM&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=5&t=0s)

**Issues**:
<%= direction[direction.keys[2]]["create"] %>

## CI/CD Section

### Verify

**Videos**: 
* [Verify:CI Kickoff Video](https://www.youtube.com/watch?v=rvtlI30gyjY&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=4&t=0s) 
* [Verify:Testing Kickoff Video](https://www.youtube.com/watch?v=JXsLk2FvFq4&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=15&t=0s)
* [Verify:Runner Kickoff Video](https://www.youtube.com/watch?v=Fi2d0n91QIw&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=&t=0s)

**Epics**:

- [Windows Shared Runners (Beta)](https://gitlab.com/groups/gitlab-org/-/epics/1768)

**Issues**:
<%= direction[direction.keys[2]]["verify"] %>

### Package

**Video**: [Package Kickoff Video](https://www.youtube.com/watch?v=2TOikf97_Dw&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=6&t=0s)

**Issues**:
<%= direction[direction.keys[2]]["package"] %>

### Release

**Video**: [Release Kickoff Video](https://www.youtube.com/watch?v=pU5JaUr5Vck&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=8&t=0s) 

**Issues**:
<%= direction[direction.keys[2]]["release"] %>

## Ops Section

### Configure

**Videos**: 
* [Configure:Orchestration Kickoff Video](https://www.youtube.com/watch?v=ix9ppVZWIjQ&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=21&t=0s)
* [Configure:System Kickoff Video](https://www.youtube.com/watch?v=80Fi5roRPvs&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=2&t=0s)

**Issues**:
<%= direction[direction.keys[2]]["configure"] %>

### Monitor

**Videos**: 
* [Monitor:APM Kickoff Video](https://www.youtube.com/watch?v=rnhM5Rfq3OI&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=11&t=0s)
* [Monitor:Health Kickoff Video](https://www.youtube.com/watch?v=Q6xeLCduIkk&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=12&t=0s)

**Issues**:
<%= direction[direction.keys[2]]["monitor"] %>

## Secure Section

### Secure

**Videos**: 
* [Defend and Secure:Static Analysis Kickoff Video](https://www.youtube.com/watch?v=efqEzHV30TM&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=9&t=0s)
* [Secure:Dynamic Analysis Kickoff Video](https://www.youtube.com/watch?v=nh20j01WVSQ&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=18&t=0s)
* [Secure:Software Composition Analysis Video](https://www.youtube.com/watch?v=9EhVJXdbR7c&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=19&t=0s)

**Issues**:
<%= direction[direction.keys[2]]["secure"] %>

## Defend Section

### Defend

**Video**: [Defend and Secure:Static Analysis Kickoff Video](https://www.youtube.com/watch?v=efqEzHV30TM&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=9&t=0s)

**Issues**:
<%= direction[direction.keys[2]]["defend"] %>

## Enablement Section

**Videos**: 
* [Distribution Kickoff Video](https://www.youtube.com/watch?v=G2j8EsjOUxE&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=20&t=0s)
* [Geo Kickoff Video](https://www.youtube.com/watch?v=Uu9p8xsTKJY&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=3&t=0s)
* [Runner Kickoff Video](https://www.youtube.com/watch?v=Fi2d0n91QIw&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=13&t=0s)
* [Ecosystem Kickoff Video](https://www.youtube.com/watch?v=ew31cOQae1E&feature=youtu.be&list=PL05JrBw4t0Krv9MyOPkGOkbi9kc1cgMvl&index=3&t=0s)

**Issues**:
<%= direction[direction.keys[2]]["enablement"] %>
