---
layout: default
title: Gartner Cites GitLab as a Challenger in Magic Quadrant for Application Release Orchestration
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://learn.gitlab.com/gartner-mq-aro-2019/gartner-mq-aro-12-19?lb_email="
form_id: "1002"
form_type: "resources"
cta_title: "Download the report"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the report."
success_message: "You will also receive an copy of the report sent to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Gartner Evaluated GitLab as a Challenger in 2019 Magic Quadrant for Application Release Orchestration
        %h2.page-headline Download the full report for details on the landscape of Application Release Orchestration

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p In this report, GitLab is recognized as a “Challenger." We believe we achieved this position in recognition of GitLab’s growth and alignment with cloud-native DevOps market requirements.

            %h3 Read the Gartner Magic Quadrant for ARO to:
            %ul
              %li Understand the current state of the Application Release Orchestration market
              %li Learn Gartner’s view of how the ARO segment helps organizations to improve agility as part of digital business initiatives
              %li Explore how GitLab performs in relation to other leading ARO vendors

            %p Download this complimentary report today to discover why Gartner has recognized GitLab as a Challenger in the 2019 Magic Quadrant for ARO!

          .font-small
            %p Gartner does not endorse any vendor, product or service depicted in its research publications, and does not advise technology users to select only those vendors with the highest ratings or other designation. Gartner research publications consist of the opinions of Gartner’s research organization and should not be construed as statements of fact. Gartner disclaims all warranties, express or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose.

            %p Gartner, Magic Quadrant for Application Release Orchestration, Daniel Betts, Chris Saunderson, Hassan Ennaciri, Christopher Little, 7 October 2019

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource"
