### Release

The traditional roles of software development teams are changing. The trend in the market is to build self-managed teams and we believe that more and more teams will adopt this approach in the next three years.  In particular, we have seen the traditional centralized Release Management role at companies change, becoming more of a shared responsibility that is distributed amongst several groups, and expect that to continue. We want to give these teams with these newfound responsibilities everything they need to be successful. 

Our vision for Release at GitLab is that common deployment targets just work - point us to your code and your environment, and we'll automatically connect the dots. We do this well already for Kubernetes, but we are going to expand this to other targets such as Azure, Google Cloud Platform, and AWS, and also mobile marketplaces and other app stores. This deployment can be automatically tracked, monitored, and (if there are issues), rolled back. 


To support this transition, we are bringing a variety of Release Management features into the product: release orchestration, [runbooks for releases](https://gitlab.com/gitlab-org/gitlab/issues/9427), [management of blackout periods](https://gitlab.com/gitlab-org/gitlab/issues/24295), [environment scheduling](https://gitlab.com/gitlab-org/gitlab/issues/20956), and more, but in a way where these features are integrated directly into the single application. For example, instead of having a separate Release Manager view as a dashboard within the product, [feature flag states will be connected with the issues](https://gitlab.com/gitlab-org/gitlab/issues/26456) and merge requests that introduced them. Releases will [automatically collect evidence](https://gitlab.com/groups/gitlab-org/-/epics/1856) about what the state of issues, test results, permissions, and so on were at the time of the release automatically. This integrated way of working serves both the teams writing the software and the teams delivering it, and is a unique approach in the market compared to point solutions which often provide tooling usable for Release Managers, but do not integrate well with the rest of the team.

In addition to the change in roles, the next natural step of software delivery is [Progressive Delivery](/direction/cicd/#progressive-delivery). Once there is an automated CI/CD process in place, Progressive delivery techniques enable the deployment to a targeted subset of users before being released to everyone, so that the risk of testing in production can be reduced. The idea is to get feedback, fast.. if something goes wrong, [reverting is automatic and without any hassle](https://gitlab.com/gitlab-org/gitlab/issues/17217). We believe that taking steps towards these directions is both natural and necessary in order to stay true to our customers and deliver a compelling product for Continuous Delivery.

- See a high level [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Arelease)
- Stage usage can be tracked at the Release [SMAU (Stage Monthly Active Users) Dashboard](https://app.periscopedata.com/app/gitlab/451468/Release-Stage-Dashboard)

The Release stage is made up of several categories:

<%= partial("direction/categories-content", :locals => { :stageKey => "release" }) %>
